
<p>
<a routerLink="/admin/products/new" class="btn btn-primary">  New Product </a>
</p>
<p>
  <input
   #query
   (keyup)="filter(query.value)"
   type="search" class="form-control" placeholder="Search.."
  >
  
</p>


<!-- <div class="md-form">
    <input type="search" [(ngModel)]="searchText" placeholder="Search text">
  </div>
  <ul *ngFor="let data of dataset | filter: searchText">
    <li>{{data}}</li>
  </ul> -->

<table class="table">
  <thead>
    <tr>
      <th> Title </th>
      <th> Price </th>
      <th>       </th>
    </tr>
  </thead>  
  <tbody>
    <tr *ngFor="let p of products$ | async"> 
    <td>{{p.title}}</td>  
    <td>{{p.price}}</td>  
    <td> 
        
        <a routerLink= "/admin/products/{{p.key}}">Edit </a>

        <!-- <a routerLink = "/destination/{{item.id}}"></a> -->

        <!-- <option *ngFor="let c of categories$ | async" [value]="c.name">{{ c.name }}</option>  -->
    </td>
    </tr>
  </tbody>
</table>


<p> 
    <a  routerLink="/check-out" class="btn btn-primary"> Check Out </a>
</p>



<ul > <li *ngFor="let p of productsTemp$ | async">
    data {{p.price}}  
    
  </li> </ul>