<p>
  product works!
</p>
<div class="container">

    <!-- (click)= "onSelect(item) -->
<div class="row product-list" *ngFor="let item of items"    >
 
    <div class="col-md-8">
        id: {{ item.id}}  
    </div>

      <div class="col-md-8">
      Name:   {{item.name}}
    </div>  

    <div class="col-md-8">
      price:  {{item.price}} $
    </div>

    <div class="col-md-8">
        <button class="btn btn-primary"  
        (click)= "onSelect(item)"
         >Add to Cart </button>
      </div>
  
  
</div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      
    </div>
  </div>
</div>


