<div class="container">
  <div class="row intro">
    
    <h1>The Shopping Store | </h1> 
      <div class="sub-text">
        <h1> when fashion meet you </h1>
      </div>
    <hr/>
    <p> lets grab the newest fashionable Collection </p>
  </div>


  <div class="row justify-content-between">
    <div class="col-md-6 dicover" >
      DiCOVER 
    </div>
    <div class="col-md-6 t-shirts">
      Shop T-shirts
      </div>
      <div class="col-md-6 footwear">
          Shop FootWear 
      </div>
      <div class="col-md-6 accessories">
          Shop Accessories
      </div>
      
      <div class="col-md-12 subscribe">
          <h1>SUBSCRIBE TO OUR NEWSLETTER </h1>
          <h3> GET THE NEWES COLLECTION AND GET CUPON </h3>
      </div>
     
  </div>
</div>