<div class="container">
  
  
  <div class="row ">
  <div class="col-3 ">
    Categories
    <div class="sticky-top">
      <app-product-filter (filterProductEvent)="filterProduct=$event"   [category]="category"   [products]="products"  [filterProduct]="filterProduct" ></app-product-filter>

  </div>
  </div>  
  
  <div class="col">
    product 
        <div class="row">
            <ng-container *ngFor="let p of filterProduct; let i=index" >
              <div class="col">
              <app-product-card  [product]="p" ></app-product-card>
            </div>
            <div *ngIf="(i+1)%2 == 0 " class="w-100">
             
            </div>  
          </ng-container>
          </div>

  </div>

</div>
 
 
</div>

<!-- <div class="container">
  <div class="row intro">
    
    <h1>The Shopping Store | </h1> 
      <div class="sub-text">
        <h1> when fashion meet you </h1>
      </div>
    <hr/>
    <p> lets grab the newest fashionable Collection </p>
  </div>


  <div class="row justify-content-between">
    <div class="col-md-6 dicover" >
      DiCOVER 
    </div>
    <div class="col-md-6 t-shirts">
        Shop T-shirts
      <app-tshirt>
      </app-tshirt>

      </div>
      <div class="col-md-6 footwear">
          Shop FootWear 
      </div>
      <div class="col-md-6 accessories">
          Shop Accessories
      </div>
      
      <div class="col-md-12 subscribe">
          <h1>SUBSCRIBE TO OUR NEWSLETTER </h1>
          <h3> GET THE NEWES COLLECTION AND GET CUPON </h3>
      </div>
     
  </div>
</div> -->